<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>168998987500-tj0ku7v1jcb2fgvapcq0nl4laf3dbpdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.168998987500-tj0ku7v1jcb2fgvapcq0nl4laf3dbpdb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>168998987500-tbqfjke7kiqr4j4m4a5s7iusrk6kq6e3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAfGArH62rX1P-pnUvYIfTF01SNgIonMUI</string>
	<key>GCM_SENDER_ID</key>
	<string>168998987500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fairfoodie2</string>
	<key>PROJECT_ID</key>
	<string>fafoo-298814</string>
	<key>STORAGE_BUCKET</key>
	<string>fafoo-298814.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:168998987500:ios:61948324f1b2808b74a7c9</string>
</dict>
</plist>